@{
    string currentUrl = Context.Request.Path;
}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" type="image/ico" href="../img/SiramenLogo.webp" />
    <title>RAS Management</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">

    <!-- Custom styles for this template-->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet">

    <!-- Custom styles for this page -->
    <link href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/2.1.1/css/buttons.dataTables.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Select2-->
    @* <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/3.5.1/select2.min.js"></script> *@
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var token = sessionStorage.getItem("Token");
            var decodedToken = parseJwt(token);
            var name = decodedToken.Name;
            var role = getRole;

            var userNameElement = document.getElementById("name");
            var userRoleElement = document.getElementById("role");
            userNameElement.textContent = name;
            userRoleElement.textContent = role;

        });
    </script>

    <style>
        @@media print {
            .no-print {
                display: none;
            }
        }

        thead input {
            width: 100%;
        }

        .loader-container {
            position: absolute;
            width: 100%;
            height: 100%;
            background-color: rgba(255, 255, 255, 0.7); /* Warna latar belakang semi-transparan */
            display: none; /* Mulai dengan menyembunyikan loader */
        }

            .loader-container.active {
                display: flex; /* Tampilkan loader saat loader-container aktif */
                justify-content: center;
                align-items: center;
            }

        .logo-container {
            background-color: white; /* Ganti warna latar belakang sesuai kebutuhan */
            padding: 10px; /* Sesuaikan padding sesuai kebutuhan */
        }

        :root {
            --input-padding-x: 1rem;
            --input-padding-y: 0.8rem;
        }

        .form-label-group label {
            pointer-events: none;
        }

        .form-signin {
            width: 100%;
            max-width: 420px;
            padding: 15px;
            margin: 0 auto;
        }

        .form-label-group {
            position: relative;
            margin-bottom: 1rem;
        }

            .form-label-group > input,
            .form-label-group > label {
                padding: var(--input-padding-y) var(--input-padding-x);
                height: 45px;
            }

            .form-label-group > label {
                position: absolute;
                top: 0;
                left: 0;
                display: block;
                width: 100%;
                margin-bottom: 0; /* Override default `<label>` margin */
                line-height: 1.5;
                color: #495057;
                border: 1px solid transparent;
                border-radius: .25rem;
                transition: all .1s ease-in-out;
            }

            .form-label-group input::-webkit-input-placeholder {
                color: transparent;
            }

            .form-label-group input:-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-ms-input-placeholder {
                color: transparent;
            }

            .form-label-group input::-moz-placeholder {
                color: transparent;
            }

            .form-label-group input::placeholder {
                color: transparent;
            }

            .form-label-group input:not(:placeholder-shown) {
                padding-top: calc(var(--input-padding-y) + var(--input-padding-y) * (2 / 3));
                padding-bottom: calc(var(--input-padding-y) / 3);
            }

                .form-label-group input:not(:placeholder-shown) ~ label {
                    padding-top: calc(var(--input-padding-y) / 3);
                    padding-bottom: calc(var(--input-padding-y) / 3);
                    font-size: 12px;
                    color: #777;
                }

        .password-container {
            position: relative;
        }

        .password-toggle-icon {
            position: absolute;
            top: 50%;
            right: 20px;
            transform: translateY(-50%);
            cursor: pointer;
        }

        .alertNotif::-webkit-scrollbar {
            width: 7px;
        }

        /* Track */
        .alertNotif::-webkit-scrollbar-track {
            box-shadow: inset 0 0 2px grey;
            border-radius: 10px;
        }

        /* Handle */
        .alertNotif::-webkit-scrollbar-thumb {
            background: #c1c2c2;
            border-radius: 10px;
        }

            /* Handle on hover */
            .alertNotif::-webkit-scrollbar-thumb:hover {
                background: #c1c2c2;
            }
    </style>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedcolumns/4.3.0/css/fixedColumns.dataTables.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/fixedheader/3.4.0/css/fixedHeader.dataTables.min.css">
</head>

<body id="page-top" class="">
    <script src="~/js/MenuAccess.js"></script>
    <!-- Page Wrapper -->
    <div id="wrapper" class="">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion no-print" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center logo-container" href="/Dashboards/Dashboard_Admin">
                <img src="~/img/SiramenFull.webp" class="d-none d-md-block" width="165" height="65">
                <img src="~/img/SiramenLogo.webp" class="img-fluid d-md-none p-3">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item @(currentUrl == "/Dashboards/Dashboard_Admin" ? "active" : "")">
                <a class="nav-link menu" href="/Dashboards/Dashboard_Admin">

                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Dashboard</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Resource
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item  @(currentUrl == "/accounts/register_employee" ? "active" : "")" id="createAccountMenu">
                <a class="nav-link collapsed menu" href="/accounts/register_employee"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-user-circle"></i>
                    <span>Create Account Employee</span>
                </a>

            </li>

            <!-- Nav Item - Pages Collapse Menu -->
            @*     <li class="nav-item  @(currentUrl == "/ManageEmployee/RegisNonRAS" ? "active" : "")">
            <a class="nav-link collapsed" href="/ManageEmployee/RegisNonRAS"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fas fa-user-circle"></i>
            <span>Non RAS Employee</span>
            </a>

            </li>*@

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item @(currentUrl == "/ManageEmployee/Index" ? "active" : "")" id="manageEmployeeMenu">
                <a class="nav-link collapsed menu" href="/ManageEmployee/Index" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-tasks-alt"></i>
                    <span>Manage Resource</span>
                </a>
            </li>
            <li class="nav-item @(currentUrl == "/ManageEmployee/ActivityCalendar" ? "active" : "")" id="activityCalendarMenu">
                <a class="nav-link collapsed menu" href="/ManageEmployee/ActivityCalendar" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-calendar"></i>
                    <span>Activity Calendar</span>
                </a>
            </li>

                   <li class="nav-item @(currentUrl == "/ManageEmployee/TimesheetReport" ? "active" : "")" id="activityCalendarMenu">
            <a class="nav-link collapsed menu" href="/ManageEmployee/TimesheetReport" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-paste"></i>
            <span>Recap Timesheet Report</span>
            </a>
            </li>

            <li class="nav-item @(currentUrl == "/ManageEmployee/TrackingInterview" ? "active" : "")" id="trackingInterviewMenu">
                <a class="nav-link collapsed menu" href="/ManageEmployee/TrackingInterview" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-tasks"></i>
                    <span>Tracking Interview</span>
                </a>
            </li>



            <!-- Divider -->
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Non Resource
            </div>
            <li class="nav-item @(currentUrl == "/ManageEmployee/TurnOverEmployee" ? "active" : "")">
                <a class="nav-link collapsed menu" href="/ManageEmployee/TurnOverEmployee" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-exchange"></i>
                    <span>Turn Over Employee</span>
                </a>
            </li>

            <li class="nav-item @(currentUrl == "/ResourceReport/Index" ? "active" : "")" id="shortlistCandidateMenu">
                <a class="nav-link collapsed menu" href="/ResourceReport/Index" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-list-ul"></i>
                    <span>Shortlist Candidate</span>
                </a>
            </li>
            <li class="nav-item @(currentUrl == "/ResourceReport/Statistic" ? "active" : "")">
                <a class="nav-link collapsed menu" href="/ResourceReport/Statistic" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-table"></i>
                    <span>Candidate Statistic</span>
                </a>
            </li>
@*
            <li class="nav-item @(currentUrl == "/ResourceReport/ShorlistCandidate" ? "active" : "")">
                <a class="nav-link collapsed" href="/ResourceReport/ShorlistCandidate" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-list-ul"></i>
                    <span>Shortlist Candidate</span>
                </a>
            </li>*@
            <hr class="sidebar-divider">
            <div class="sidebar-heading">
                Department, Client, & Holidays
            </div>
            <li class="nav-item @(currentUrl == "/ManageEmployee/DepartmentEmployee" ? "active" : "")" id="manageDepartmentMenu">
                <a class="nav-link collapsed menu" href="/ManageEmployee/DepartmentEmployee" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-building"></i>
                    <span>Manage Department</span>
                </a>
            </li>


            <li class="nav-item @(currentUrl == "/Client/Index" ? "active" : "")" id="manageClientMenu">
                <a class="nav-link collapsed menu" href="/Client/Index" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fab fa-fw fa-hive"></i>
                    <span>Manage Client Data</span>
                </a>
            </li>
            <li class="nav-item @(currentUrl == "/Holiday/Index" ? "active" : "")">
                <a class="nav-link collapsed menu" href="/Holiday/Index" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fa-solid fa-fw fa-mug-hot"></i>
                    <span>Manage Holidays</span>
                </a>
            </li>
        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>


                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item dropdown no-arrow mx-1 btnBell" id="btnBell">
                            <a class="nav-link dropdown-toggle" href="#" id="alertsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <i class="fas fa-bell fa-fw"></i>
                                <!-- Counter - Alerts -->
                                <span class="badge badge-danger badge-counter" id="notifCount"></span>
                            </a>
                            <!-- Dropdown - Alerts -->
                            <div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in alertNotif" style="max-height: 480px; overflow: auto" id="alertNotif" aria-labelledby="alertsDropdown">
                                <h6 class="dropdown-header">
                                    Notification
                                </h6>

                                <div class="m-0" id="notification">
                                    <span class="dropdown-item text-center small text-dark-500" id="noNotif">No Notification</span>
                                </div>
                            </div>
                        </li>


                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-1 d-lg-inline text-gray-600 small" id="name"></span>
                                <span class="badge badge-success text-light mr-1">
                                    <span class=" d-lg-inline" id="role"></span>
                                </span>
                                <img class="img-profile rounded-circle pl-1"
                                     src="~/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->
                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                @*  <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                                </a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#chagnePasswordModal" onclick="clearScreen()">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white no-print">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; RAS Management 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    @*<a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
    </a>*@

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Logout", "Accounts")" onclick="Logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>

    <!-- Change Password Modal-->
    <div class="modal" id="chagnePasswordModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pt-2 pb-1">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="text-center pt-0 pb-3">
                        <span style="height: 110px;"><img src="~/img/SiramenFull.webp" alt="Berca Hardayaperkasa" style="max-width: 100%; width:235px; height: auto; max-height: 85px;" /></span>
                    </div>

                    <form class="user" id="resetPassword">
                        <div class="form-label-group password-container">
                            <input type="password" class="form-control form-control-user" id="currentPassword" autocomplete="" placeholder="" req>
                            <label for="currentPassword">Current Password</label>
                            <span id="icon" class="password-toggle-icon" onclick="togglePasswordVisibility('currentPassword')">
                                <i class="far fa-eye"></i>
                            </span>
                            <span class="error-message pl-3 text-small`" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-label-group">

                            <input type="password" class="form-control form-control-user" id="newPassword" name="newPassword" autocomplete="" placeholder="" req>

                            <label for="newPassword">New Password</label>
                            <span id="icon" class="password-toggle-icon" onclick="togglePasswordVisibility('newPassword')">
                                <i class="far fa-eye"></i>
                            </span>
                            <span class="error-message pl-3 text-small`" style="color: red; display: none;">This field is required!</span>
                        </div>

                        <div class="form-label-group">

                            <input type="password" class="form-control form-control-user" id="repeatPassword" autocomplete="" placeholder="" req>

                            <label for="repeatPassword">Confirm New Password</label>
                            <span id="icon" class="password-toggle-icon" onclick="togglePasswordVisibility('repeatPassword')">
                                <i class="far fa-eye"></i>
                            </span>
                            <span class="error-message pl-3 text-small" style="color: red; display: none;">This field is required!</span>
                        </div>
                    </form>



                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="updatePassword();">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreen()">Close</button>
                </div>
            </div>
        </div>
    </div>


    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level custom scripts -->
    @*    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/demo/chart-area-demo.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/demo/chart-pie-demo.js"></script>*@

    <!-- Page level plugins -->
    <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.13.6/api/fnFilterClear.js"></script>
    <script src="~/js/JwtUtils.js"></script>


    <script src="~/js/ChangePassword.js"></script>
    <script src="~/js/HistoryLog.js"></script>
    <script src="~/js/Notification.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.4.0/jspdf.umd.min.js"></script>
    @* <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script> *@

    <!-- Page specific script -->
    @RenderSection("script",required:false)
</body>

</html>