@{

    string currentUrl = Context.Request.Path;
}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Icon untuk tab browser -->
    <link rel="icon" type="image/ico" href="../img/LogoBhp.png" />
    <title>RAS Management</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Comfortaa&display=swap">

    <!-- Custom styles for this template-->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/css/sb-admin-2.min.css" rel="stylesheet">

    @*  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.4/css/jquery.dataTables.css" />

    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.js"></script>*@
    <!-- Custom styles for this page -->
    <link href="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.css" rel="stylesheet">

    @* <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

    <!-- Select2-->
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>


    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var token = sessionStorage.getItem("Token");
            var decodedToken = parseJwt(token);
            var name = decodedToken.Name;
            var role = getRole;
            var accountId = decodedToken.AccountId;


            var userNameElement = document.getElementById("name");
            var userRoleElement = document.getElementById("role");
            userNameElement.textContent = name;
            userRoleElement.textContent = role;

            // Set the href attribute of the link with the accountId parameter
            var generateCvLink = document.getElementById("generateCvLink");
            generateCvLink.href = "/GenerateCv/GenerateCvEmployee?accountId=" + accountId;

        });


    </script>

    <style>
        .logo-container {
            background-color: white; /* Ganti warna latar belakang sesuai kebutuhan */
            padding: 10px; /* Sesuaikan padding sesuai kebutuhan */
        }
    </style>


</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center logo-container" href="index.html">
                <img src="~/img/logo_putih.png" width="290" height="38">
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->

            <li class="nav-item @(currentUrl == "/Dashboards/Employee" ? "active" : "")">
                <a class="nav-link" href="/Dashboards/Employee">


                    <i class="fas fa-fw fa-user-circle"></i>
                    <span>Personal Details</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Interface
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            @*   <li class="nav-item  @(currentUrl == "/Dashboards/PersonalDetails" ? "active" : "")">
            <a class="nav-link collapsed" href="/Dashboards/PersonalDetails">

            <i class="fas fa-fw fa-cog"></i>
            <span>Personal Details</span>
            </a>

            </li>*@

            <!-- Nav Item - Utilities Collapse Menu -->
            <li class="nav-item @(currentUrl == "/Employee/Educations" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/Educations" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-user-graduate"></i>
                    <span>Educations</span>
                </a>
            </li>

            <li class="nav-item  @(currentUrl == "/Employee/Qualification" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/Qualification" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-users-cog"></i>
                    <span>Qualifications</span>
                </a>
            </li>

            <li class="nav-item  @(currentUrl == "/Employee/Certificate" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/Certificate" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-award"></i>
                    <span>Achievement / Certificate</span>
                </a>
            </li>

            <li class="nav-item  @(currentUrl == "/Employee/EmploymentHistory" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/EmploymentHistory" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-business-time"></i>
                    <span>Employment History</span>
                </a>
            </li>

            <li class="nav-item  @(currentUrl == "/Employee/ProjectHistory" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/ProjectHistory" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-tasks"></i>
                    <span>Project History</span>
                </a>
            </li>

            <li class="nav-item  @(currentUrl == "/Employee/AssetsManagement" ? "active" : "")">
                <a class="nav-link collapsed" href="/Employee/AssetsManagement" data-target="#collapsePages"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="fas fa-fw fa-laptop"></i>
                    <span>Assets Management</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Generate CV
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item">
                <a class="nav-link" id="generateCvLink" href="#"
                   aria-expanded="true" aria-controls="collapsePages">
                    <i class="far fa-fw fa-file-pdf"></i>
                    <span>Generate CV</span>
                </a>
                @*<div id="manageApplications" class="collapse" aria-labelledby="headingPages" data-parent="#accordionSidebar">
                <div class="bg-white py-2 collapse-inner rounded">

                <a class="collapse-item" href="login.html">Schedule</a>
                <a class="collapse-item" href="register.html">Status</a>
                <a class="collapse-item" href="forgot-password.html">Manage Interviewer</a>

                </div>
                </div>*@
            </li>

            <!-- Nav Item - Charts -->
            @*<li class="nav-item">
            <a class="nav-link" href="charts.html">
            <i class="fas fa-fw fa-chart-area"></i>
            <span>Charts</span>
            </a>
            </li>*@

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    @*<form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                    <div class="input-group">
                    <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                    aria-label="Search" aria-describedby="basic-addon2">
                    <div class="input-group-append">
                    <button class="btn btn-primary" type="button">
                    <i class="fas fa-search fa-sm"></i>
                    </button>
                    </div>
                    </div>
                    </form>*@

                    <!-- Topbar Navbar -->
                    <ul class="navbar-nav ml-auto">

                       
                        <div class="topbar-divider d-none d-sm-block"></div>

                        <!-- Nav Item - User Information -->
                        <li class="nav-item dropdown no-arrow">
                            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="mr-1 d-none d-lg-inline text-gray-600 small" id="name"></span>
                                <span class="badge badge-success text-light mr-1">
                                    <span class=" d-none d-lg-inline" id="role"></span>
                                </span>



                                <img class="img-profile rounded-circle"
                                     src="~/startbootstrap-sb-admin-2-gh-pages/img/undraw_profile.svg">
                            </a>
                            <!-- Dropdown - User Information -->

                            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                                 aria-labelledby="userDropdown">
                                @*    <a class="dropdown-item" href="/Employee/PersonalDetails">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Profile
                                </a>
                                <a class="dropdown-item" href="#">
                                <i class="fas fa-cogs fa-sm fa-fw mr-2 text-gray-400"></i>
                                Settings
                                </a>
                                <a class="dropdown-item" href="#">
                                <i class="fas fa-list fa-sm fa-fw mr-2 text-gray-400"></i>
                                Activity Log
                                </a>
                                <div class="dropdown-divider"></div>*@
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#chagnePasswordModal" onclick="clearScreen()">
                                    <i class="fas fa-key fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Change Password
                                </a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                    Logout
                                </a>
                            </div>
                        </li>

                    </ul>

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    @RenderBody()

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; RAS Management 2023</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Logout Modal-->
    <div class="modal fade" id="logoutModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Ready to Leave?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-body">Select "Logout" below if you are ready to end your current session.</div>
                <div class="modal-footer">
                    <button class="btn btn-secondary" type="button" data-dismiss="modal">Cancel</button>
                    <a class="btn btn-primary" href="@Url.Action("Logout", "Accounts")" onclick="Logout()">Logout</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Change Password Modal-->
    <div class="modal" id="chagnePasswordModal" role="dialog" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header pt-2 pb-1">
                    <h5 class="modal-title">Change Password</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">

                    <div class="text-center pt-0 pb-3">
                        <span style="height: 110px;"><img src="~/img/logo_putih.png" alt="Berca Hardayaperkasa" height="45px" width="225px" /></span>
                    </div>
                 
             
                  
                    <form class="user" id="resetPassword">

                        <div class="form-group">
                           @* <input type="text" id="accountId" name="accountId"  readonly hidden />*@

                            <input type="password" class="form-control form-control-user" id="currentPassword" placeholder="Current Password" req>
                            <span class="error-message pl-3 text-small`" style="color: red; display: none;">This field is required!</span>
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="newPassword" name="newPassword" placeholder="New Password" req>
                            <span class="error-message pl-3 text-small`" style="color: red; display: none;">This field is required!</span>
                        </div>

                        <div class="form-group">
                            <input type="password" class="form-control form-control-user" id="repeatPassword" name="repeatPassword" placeholder="Repeate Password" req>
                            <span class="error-message pl-3 text-small`" style="color: red; display: none;">This field is required!</span>
                        </div>

                    
                   

                    </form>
    


                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreen()">Close</button>
                    <button type="button" class="btn btn-primary" onclick="updatePassword();">Save changes</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Custom script with url-->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


    <!-- Bootstrap core JavaScript -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery/jquery.min.js"></script>

    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/sb-admin-2.min.js"></script>

    <!-- Page level plugins -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/chart.js/Chart.min.js"></script>

    <!-- Page level custom scripts -->
    @*    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/demo/chart-area-demo.js"></script>
    <script src="~/startbootstrap-sb-admin-2-gh-pages/js/demo/chart-pie-demo.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

  @*  <script src="~/js/ManageEmployee.js"></script>*@
    <script src="~/js/Account.js"></script>
    <script src="~/js/ChangePassword.js"></script>


    <!--SweetAlert-->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Page level plugins -->
    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/jquery.dataTables.min.js"></script>

    <script src="~/startbootstrap-sb-admin-2-gh-pages/vendor/datatables/dataTables.bootstrap4.min.js"></script>
    <script src="~/js/JwtUtils.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src="~/js/site.js"></script>

    <!-- Page specific script -->
    @RenderSection("script",required:false)
</body>

</html>