@model FrontEnd_RasManagement.Models.EmployeeViewModel

@{
    ViewData["Title"] = "DetailEmployee";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
    var employeeData = ViewData["EmployeeData"] as dynamic;
   // var employeePlacement = ViewData["EmployeePlacement"] as dynamic;
   // var startDate = ViewData["StartDate"];
   // var endDate = ViewData["EndDate"];


}
<button id="backButton" class="btn btn-secondary rounded-circle mr-3">
    <i class="fas fa-arrow-left"></i>
</button>


<h5 style="font-family:comfortaa; color: black" class="font-weight-bold">Detail Employee & Placement</h5>
<div class="card shadow mb-4">
    <div class="card-header py-2 d-flex">
        <span class="text-primary h-6 ">Detail Profile :<span id="fullName" class="text-dark"> @employeeData.accountId</span> </span>
        <span class="ml-auto">
            @*  button*@
        </span>
    </div>
    <div class="card-body m-0 pt-2">
        <div class="row">
            <div class="col" style="color: black">Full Name </div>
            <div class="col-10">: @employeeData.fullname </div>
        </div>
        <div class="row">
            <div class="col  " style="color: black">Nick Name </div>
            <div class="col-10">: @employeeData.nickname </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Birth Place </div>
            <div class="col-10">: @employeeData.birthplace </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Birth Date </div>
            <div class="col-10">: @employeeData.birthdate.ToString("dd/MM/yyyy") </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Gender </div>
            <div class="col-10">: @employeeData.gender </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Religion </div>
            <div class="col-10">: @employeeData.religion </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Martial Status </div>
            <div class="col-10">: @employeeData.maritalstatus </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Nationality </div>
            <div class="col-10">: @employeeData.nationality </div>
        </div>
        <div class="row">
            <div class="col " style="color: black">Address </div>
            <div class="col-10">: @employeeData.address </div>
        </div>

    </div>
</div>

<div id="placement">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm text-light mb-3" data-toggle="modal" data-target="#modalPlacement" style="background-color:#624DE3;  font-size: 12px;" onclick="ClearScreenPlacement();">
        + New Placement
    </button>
 

            <div class="card shadow mb-4" id="placementData">
               



            </div>
        
    
</div>



<!-- Modal -->
<div class="modal fade" id="modalPlacement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title" id="exampleModalLabel">Job Vacancy</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-companyName" class="alert alert-danger" role="alert" style="display:none"> Company Name Tidak Boleh Kosong! </div>
                <form>
                    <button class="btn btn-sm btn-warning"> @employeeData.accountId</button>
                    <input type="hidden" id="accountId" value="@employeeData.accountId">
                    <input type="hidden" id="placementStatusId" >
                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">Company Name</label>
                        <input type="text" class="form-control " id="companyName_" name="companyName" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">Job Role</label>    
                        <input type="text" class="form-control " id="jobRole" name="jobRole" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1" id="showStartDate" style="display: none;">
                        <label class="m-0" for="exampleInputEmail1" >Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1" id="showEndDate" style="display: none;">
                        <label class="m-0" for="exampleInputEmail1">End Date</label>
                        <input type="date" class="form-control " id="endDate" name="endDate">
                    </div>

                    <div class="form-group mb-1">
                        <label for="exampleFormControlTextarea1" class=" m-0">Desscription</label>
                        <textarea class="form-control" id="description" rows="2"></textarea>
                    </div>


                    <div class="form-group row mb-1">
                        <div class="col-sm-6 mb-1 mb-sm-0">
                            <label class="text-dark mb-0" for="exampleInputEmail1 ">Status</label>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="onsite" name="status" value="Onsite">
                                <label class="form-check-label" for="radio1">Onsite</label>
                            </div>
                            <div class="form-check">
                                <input type="radio" class="form-check-input" id="idle" name="status" value="Idle">
                                <label class="form-check-label" for="radio2">Idle</label>
                            </div>
                        </div>


                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary btn-add" id="Add" name="Add" onclick="Save('@employeeData.accountId')">Save</button>
                <button type="button" class="btn btn-primary" id="Update" name="Update" data-bs-dismiss="modal" onclick="Update()">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="clearScreenPlacement()">Close</button>
            </div>
        </div>
    </div>
                
</div>



   
