@model FrontEnd_RasManagement.Models.EmployeeViewModel

@{
    ViewData["Title"] = "DetailEmployee";
    Layout = "~/Views/Layout/LayoutAdmin.cshtml";
    var employeeData = ViewData["EmployeeData"] as dynamic;
    // var employeePlacement = ViewData["EmployeePlacement"] as dynamic;
    // var startDate = ViewData["StartDate"];
    // var endDate = ViewData["EndDate"];


}

@* <style>
        * {
            font-family: 'Dosis';
        }
</style> *@

<div class="row mx-2 mb-3">
    <div class="col">
        <div class="row">
            <button id="backButton" class="btn btn-secondary rounded-circle mr-3">
                <i class="fas fa-arrow-left"></i>
            </button>

            <h5 style="font-family:comfortaa; color: black" class="font-weight-bold pt-1">Detail Employee & Placement</h5>
        </div>
    </div>
    <div class="col">
        <h6 class="pt-1" style="float: right;">@employeeData.accountId</h6>
    </div>
</div>


@* Card Detail *@

<div class="d-flex flex-column flex-xl-row justify-content-between " style="gap: 0.3rem;">

    <div class="card text-dark mb-3 w-75 w-sm-100">
        <div class="card-header text-light bg-secondary " style="background-color:#624DE3;">Personal Data</div>
        <div class="card-body">
            <div class="row">
                <div class="col-3" style="color: black">Name</div>
                <div class="col-9" style="color: black">: @employeeData.fullname</div>
            </div>
            <div class="row">
                <div class="col-3" style="color: black">Birth</div>
                <div class="col-9" style="color: black">: @employeeData.birthplace@employeeData.birthdate.ToString(", "+"dd/MM/yyyy")</div>
            </div>

            <div class="row">
                <div class="col-3" style="color: black">Gender</div>
                <div class="col-9" style="color: black">: @employeeData.gender</div>
            </div>
            <div class="row">
                <div class="col-3" style="color: black">Address</div>
                <div class="col-9" style="color: black">: @employeeData.address</div>
            </div>
        </div>
    </div>
    <div class="card text-dark mb-3 w-sm-100 w-50">
        <div class="card-header text-light bg-secondary ">Status</div>
        <div class="card-body ">
            <div class="row">
                <div class="col-6" style="color: black">Religion</div>
                <div class="col-6" style="color: black">: @employeeData.religion</div>
            </div>
            <div class="row">
                <div class="col-6" style="color: black">Marital Status</div>
                <div class="col-6" style="color: black">: @employeeData.maritalstatus</div>
            </div>
            <div class="row">
                <div class="col-6" style="color: black">Nationality</div>
                <div class="col-6" style="color: black">: @employeeData.nationality</div>
            </div>
        </div>
    </div>
    <div class="card text-dark  mb-3 w-50 w-sm-70">
        <div class="card-header text-light bg-secondary">
            Contract
            <i class="fa fa-edit text-light pt-2 mr-3 edit-contract-emp" style="font-size: 14px; float: right" data-toggle="modal" data-placement="top" data-target="#modalContract" data-tooltip="tooltip" title="Update Contract" onclick="GetContract('@employeeData.accountId');"></i>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6" style="color: black">Join Date</div>
                <div class="col-6" style="color: black">: @employeeData.joinDate.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="row">
                <div class="col-6" style="color: black">Start Contract</div>
                <div class="col-6" style="color: black">: @employeeData.startContract.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="row">
                <div class="col-6" style="color: black">End Contract</div>
                <div class="col-6" style="color: black">: @employeeData.endContract.ToString("dd/MM/yyyy")</div>
            </div>
            <div class="row">
                <div class="col-6" style="color: black">Position</div>
                <div class="col-6" style="color: black">: @employeeData.position</div>
            </div>
            <div class="row  mt-3 ">
                <div class="col-6" style="color: black"></div>
                @* <div class="col-6 " style="color: black">
                <button class="btn btn-sm text-light bg-secondary " style="font-size: 12px;" data-toggle="modal" data-target="#modalContract" onclick="GetContract('@employeeData.accountId');">
                Update Contract
                </button>
                </div> *@
            </div>
        </div>
    </div>

</div>
<div id="placement">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-sm text-light mb-3 add-new-placement" data-toggle="modal" data-target="#modalPlacement" style="background-color:#624DE3;  font-size: 12px;" onclick="ClearScreenPlacement();">
        + New Placement
    </button>


    <div class="card shadow mb-4" id="placementData">
    </div>


</div>

<!-- Modal Contract-->
<div class="modal fade" id="modalContract" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title" id="exampleModalLabel">Employee Contract</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-companyName" class="alert alert-danger" role="alert" style="display:none"> Company Name Tidak Boleh Kosong! </div>
                <form>
                    <span class="btn btn-sm btn-warning mb-2"> @employeeData.accountId</span>
                    <input type="hidden" id="AccountId">
                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">Start Contract</label>
                        <input type="date" class="form-control " id="StartContract" name="StartContract" requiredContract>
                        <span class="error-message-contract" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1 mt-3">
                        <label class="m-0" for="exampleInputEmail1">End Contract</label>
                        <input type="date" class="form-control " id="EndContract" name="EndContract" requiredContract>
                        <span class="error-message-contract" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1 mt-3">
                            <label class="text-dark" for="exampleInputEmail1">Position</label>
                            <select id="positionEmp" class="form-control col-12 positionEmp" name="state" requiredContract>
                               <option selected disabled>Choose Position</option>
                                <option value="Back End Developer">Back End Developer</option>
                                <option value="Business Analyst">Business Analyst</option>
                                <option value="Business Intelligent Engineer">Business Intelligent Engineer</option>
                                <option value="Data Analyst">Data Analyst</option>
                                <option value="Data Engineer">Data Engineer</option>
                                <option value="Database Administrator">Database Administrator</option>
                                <option value="Database Analyst">Database Analyst</option>
                                <option value="Database Engineer">Database Engineer</option>
                                <option value="Devops Engineer">Devops Engineer</option>
                                <option value="Developer">Developer</option>
                                <option value="Front End Developer">Front End Developer</option>
                                <option value="Head of IT">Head of IT</option>
                                <option value="IT Admin">IT Admin</option>
                                <option value="IT Applications Support">IT Applications Support</option>
                                <option value="Manager">Manager</option>
                                <option value="Mobile Developer">Mobile Developer</option>
                                <option value="Outsystems Developer">Outsystems Developer</option>
                                <option value="Project Manager">Project Manager</option>
                                <option value="Quality Assurance">Quality Assurance</option>
                                <option value="Sage 300 Consultant">Sage 300 Consultant</option>
                                <option value="SAP ABAP Developer">SAP ABAP Developer</option>
                                <option value="Scrum Master">Scrum Master</option>
                                <option value="Software Engineer">Software Engineer</option>
                                <option value="System Analyst">System Analyst</option>
                                <option value="UiPath Engineer">UiPath Engineer</option>
                                <option value=".Net Developer">.Net Developer</option>
                            </select>
                            <span class="error-message" style="color: red; display: none;">Please select at least one Position.</span>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary" id="UpdateContrac" name="UpdateContrac" data-bs-dismiss="modal" onclick="UpdateContract()">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearScreenContract()">Close</button>
            </div>
        </div>
    </div>

</div>

<!-- Modal -->
<div class="modal fade" id="modalPlacement" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header pb-1">
                <h5 class="modal-title" id="exampleModalLabel">Employee Placement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div id="alert-companyName" class="alert alert-danger" role="alert" style="display:none"> Company Name Tidak Boleh Kosong! </div>
                <form>
                    <span class="btn btn-sm btn-warning mb-2"> @employeeData.accountId</span>
                    <input type="hidden" id="accountId" value="@employeeData.accountId">
                    <input type="hidden" id="placementStatusId">
                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">Company Name</label>
                         <select class="form-control form-control-sm" id="companyName_" required>
                            <option selected disabled>Choose Company</option>
                        </select>
                        @* <input type="text" class="form-control " oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="companyName_" name="companyName" required> 
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">Job </label>
                        <select class="form-control form-control-sm" id="jobRole" required>
                            <option selected disabled>Choose Job</option>
                        </select>
                        @* <input type="text" class="form-control " oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="jobRole" name="jobRole" required> *@
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>
                    <div class="form-group mb-1">
                        <label class="m-0" for="exampleInputEmail1">PIC Name</label>
                        <input type="text" class="form-control " oninput="handleInput(event, this);" onpaste="handleInput(event, this);" id="picName" name="picName" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1" id="showStartDate" style="display: none;">
                        <label class="m-0" for="exampleInputEmail1">Start Date</label>
                        <input type="date" class="form-control" id="startDate" name="startDate" required>
                        <span class="error-message" style="color: red; display: none;">This field is required!</span>
                    </div>

                    <div class="form-group mb-1" id="showEndDate">
                        <label class="m-0" for="exampleInputEmail1">End Date</label>
                        <input type="date" class="form-control " id="endDate" name="endDate">
                    </div>

                    <div class="form-group row mb-1">
                        <div class="col-sm-6 mb-1 mb-sm-0">
                            <label class="text-dark mb-0" for="exampleInputEmail1 ">Status</label>
                            <div class="form-check mx-2">
                                <input type="radio" class="form-check-input" id="onsite" name="status" value="Onsite" required>
                                <label class="form-check-label" for="radio1">Onsite</label>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                            <div class="form-check mx-2">
                                <input type="radio" class="form-check-input" id="idle" name="status" value="Idle" required>
                                <label class="form-check-label" for="radio2">Idle</label>
                                <span class="error-message" style="color: red; display: none;">This field is required!</span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group mb-1">
                        <label for="exampleFormControlTextarea1" class=" m-0">Description</label>
                        <textarea class="form-control" id="description" oninput="handleInput(event, this);" onpaste="handleInput(event, this);" rows="2"></textarea>
                    </div>
                </form>
            </div>
            <div class="modal-footer">

                <button type="button" class="btn btn-primary btn-add" id="Add" name="Add" onclick="Save('@employeeData.accountId')">Save</button>
                <button type="button" class="btn btn-primary" id="Update" name="Update" data-bs-dismiss="modal" onclick="Update()">Update</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" onclick="ClearScreenPlacement()">Close</button>
            </div>
        </div>
    </div>

</div>

<script src="~/js/DetailEmployee.js"></script>
<script src="~/js/ManageEmployee.js"></script>


